<div id="requests">

    <ul class="list-group list-group-flush">
        @for(list of approvalListCleaned; track list){
            <li class="list-group-item">{{list.username}} is requesting to join {{list.groupName}} &nbsp;<br>
                <button type="button" class="btn btn-outline-success" (click)="approveGroupEntry(list.userId, list.groupID)">Approve</button>&nbsp;
                <button type="button" class="btn btn-outline-danger" (click)="declineApproval(list.approvalId)">Decline</button>
            </li>
        }
    </ul>
</div>

