#groupdiv{
    padding:1rem;
    margin-left:280px;
    width:80vw;
    border-bottom: 1px solid #000;

}

#channeldiv{
    width:200px;
    padding:1rem;
    margin-left:290px;
    border-right:1px solid #000;
    height: 85vh;
}

#chatdiv{
    padding:1rem;
    width: 50vh;

}

#chatbox{
    position: fixed;
    bottom:1rem;
    width:400px;
}

#joinMessage{
    margin-left: 300px;
    margin-top:20px;
}