<div id="groupdiv">
        
    <h2>{{groupName}}</h2> &nbsp; 
    <button type="button" class="btn btn-info btn-sm" (click)="navgroups()">All Groups</button> &nbsp;
@if(!currentUserJoined && !approvaltoJoin){
    <button type="button" class="btn btn-info btn-sm" (click)="joinGroup()">Join</button> &nbsp;
} 
@if(!currentUserJoined && approvaltoJoin){
    <button type="button" class="btn btn-info btn-sm" >Request Approval to Join</button> &nbsp;
} 

    @if(!options){
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="toggleOptions()">Options</button>
    } @else {

        <button type="button" class="btn btn-secondary btn-sm" (click)="toggleOptions()">Options</button>&nbsp;
        @if(currentUserJoined){
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="leaveGroup()">Leave</button> &nbsp;
        } 
        @if(canaddchanel){
            <button type="button" class="btn btn-warning btn-sm">Edit</button>&nbsp;
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteGroup()">Delete</button>
        }
    }

    <br><br>

</div>

@if(currentUserJoined){
<div id="channels" class="row">
    <div id="channeldiv" class="col-3">
        <h4>Channels &nbsp; </h4>
            <ul class="list-group" id="channelcontainer">
                @for(channel of groupChannels; track channel){
                    @if(channel==channelSelected){
                    <li class="list-group-item active" aria-current="true" (click)="selectedChannel(channel)">{{channel}}</li>
                    } @else {
                        <li class="list-group-item" (click)="selectedChannel(channel)">{{channel}}</li>
                    }
                }
            </ul>
            <br>

        @if(canaddchanel){
            @if(!addingChannel){
                <button type="button" class="btn btn-outline-secondary btn-sm" (click)="addChanel(0)">Add New Channel</button>
            } @else {
                <input type="text" id="newchannel" name="newchannel" placeholder="New Channel Name" [(ngModel)]="newChannelName">
                <button type="button" class="btn btn-outline-secondary btn-sm" (click)="addChanel(newChannelName)">Add</button>
            }
        }

        <br><br>
        <h4>Users &nbsp; </h4>
        <ul class="list-group list-group-flush">
            @for(user of groupMembers; track user.username){
                <li class="list-group-item">{{user.username}}</li>
            }

          </ul>
    </div>

    <div id="chatdiv"class="col-9">
        <h4>{{channelSelected}} Chat &nbsp; </h4>

        <div class="chatmessages">
        
            @for(chat of chatHistory; track chat){
                @if(chat.groupID == groupid && chat.channel == channelSelected){
                    <div id="chatbubble">
                        @if(chat.avatar){
                            <img src="http://localhost:3001/{{chat.avatar}}" height="30" width="30"> &nbsp;
                        } @else {
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                            </svg> &nbsp;
                          }
                        
                <b>{{chat.username}}</b>: @if(chat.image){
                        <img src="http://localhost:3001/{{chat.path}}" alt="{{chat.filename}}"class="chatImage">
                }
                {{chat.message}}<br>
                    </div>
                }
            }
        </div>
        


        <div class="row">
            <div class="input-group" id="chatbox">
                @if (showAttachmentDiv == false){
                <textarea class="form-control" aria-label="With textarea" name="messagecontent" [(ngModel)]="messagecontent"></textarea>
                <button class="btn btn-outline-primary" type="button" id="button-addon2" (click)="sendMessage()">Send</button>
                <button class="btn btn-outline-primary" type="button" id="button-addon2" (click)="attachFile()"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                    <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0z"/>
                  </svg></button>
                } @else {
                    
                    <input type="file" class="form-control" id="inputGroupFile02" accept="image/png, image/jpeg" (change)="onFileChange($event)">
                    <button class="btn btn-outline-primary" type="button" id="button-addon2" (click)="sendFile()" >Send</button>
                    <button class="btn btn-outline-primary" type="button" id="button-addon2" (click)="attachFile()" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                      </svg></button>
                }
            </div>
            
        </div>

    </div>

</div>

<!-- <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img src="..." class="rounded me-2" alt="...">
        <strong class="me-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
    </div>
  </div> -->
} @else {
    <div id="joinMessage">You will be able to see more once joined. </div>
}