<div id="user">
    <h1>User Info</h1><br>
    <h4>Name: {{userinfo.username}}</h4><br>
    <h5>Email: {{userinfo.email}}</h5><br>
    <h5>Roles:</h5>
    {{userinfo.roles}} <br><br>





    <h5>Groups: </h5>
    @for (group of usergroups; track group){
        {{group}}<br>
    }
    <br>

    @if(promoteusergroupadmin){
        <button type="button" class="btn btn-success" (click)="promoteToGroupAdmin()">Promote to Group Admin</button>
        <br><br>
    }


    @if(promoteusersuperadmin){
        <button type="button" class="btn btn-warning" (click)="promoteToSuperAdmin()">Promote to SuperAdmin</button>
        <br><br>
    }

    @if(deleteuseravailable){
        <button type="button" class="btn btn-outline-danger">Delete Account</button>
        <br><br>
    }

</div>
