<div id="userlist">
    <h1>Users</h1>

    <div class="container text-left">

        <div class="list-group">
            @for (user of userlist; track user._id;){
            <a (click)="navUser(user._id)" class="list-group-item list-group-item-action">{{user.username}}</a>
            }
          </div>
    </div>
    <br>
    <div>
    @if(!addUserActive){
        <button type="button" class="btn btn-outline-primary" (click)="addNewUserToggle()" id="addNewUserButton">Add New</button>
    } @else{
        <b>Add New User</b><br><br>
        <form>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" [(ngModel)]="newUserUsername" name="newUserUsername">
              </div>
            <div class="mb-3">
              <label for="addEmail" class="form-label">Email address</label>
              <input type="email" class="form-control" id="newUserEmail" aria-describedby="emailHelp" [(ngModel)]="newUserEmail" name="newUserEmail">
              <div id="emailHelp" class="form-text">We'll try to not share your email with anyone else.</div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="addNewUser()" id="createNewUserButton">Create</button><br><br>
            {{addUsererror}}
          </form>
    }
    </div>
</div>